/*全局样式*/
body{
	background:red;
}
*{
	padding:0px;
	margin:0px;
	font-family: 	'Microsoft Yahei';
}
a{
	text-decoration: none;
}
input{
	border:0px;
}
/*全局样式结束*/
/*顶部样式*/
/*左边开始*/
#top{
	width:100%;
	height:36px;
	border-bottom:1px solid #E0E0E0;
	font-size: 14px;
}
#top .left{
	float:left;
}
#top .left a{
	float:left;
	display: block;
	height:34px;
	line-height: 34px;
	margin-left:18px;
          color:#333333;
          text-align: center;
}
#top .left a.three{
	color:#3EAF0E;
	font-weight: 700;
	border-bottom:2px solid #3EAF0E;
}

#top .left a:hover{
	color:#3EAF0E;
	border-bottom:2px solid #3EAF0E;
}
#top .left a.last{
	position: relative;
}
#top .left a span{
	display: block;
	width:29px;
	height:9px;
	font-size: 0px;
	background:url(../images/beta.png) no-repeat;
	position: absolute;
	top:12px;
	left:29px;
}
/*左边结束*/
/*右边开始*/
#top .right{
	float:right;
          overflow: hidden;
          height:34px;
          line-height: 34px
}
#top .right .denglu{
	float: right;
	padding:0px 8px;
}
#top .right .zhuce{
	float: right;
	padding-right:20px;
	padding-left:8px;

}

#top  .right span{
	float: right;
	color:#EAEAEA;
	font-size: 12px;
}
#top  .right a.z,a.c{
	font-size: 12px;
	color:#888888;
}
#top  .right a:hover{
      color:#3EAF0E;
}
/*右边结束*/

/*顶部结束*/

/*logo区域开始*/
#logo{
	width:1200px;
	height:72px;
	margin:0 auto;
	position: relative;
          
}
#logo .logo{
	height:33px ;
	width:300px;
	background:red;
	position: absolute;
	top:21px;
	left:0px;
	background:url(../images/t016c1fd677eea71466.png) no-repeat;
}
#logo form{
	height:34px;
	width:640px;
	position:absolute;
	top:15px;
	left:300px;

}
#logo form .text{
	height:30px;
	width:422px;
	border:2px solid #37AD00;
	line-height: 30px;
	text-indent: 0.2em;
	float: left;
}
#logo form .submit{
	height:34px;
	width:94px;
	float: left;
	color:white;
	background:url(../images/t0104061021b6998107.png)no-repeat 0px -68px;
	border-radius: 5px;
	margin:0px 5px;
}
#logo form .submit:hover{

	background:url(../images/t0104061021b6998107.png) no-repeat 0px -34px;
}
#logo form a{
	display: block;
	float: left;
	height:34px;
	width:110px;
	color:white;
	background:#3FB50D;
	border-radius: 5px;
	background:url(../images/t0191850be6c5d0b20b.png) no-repeat 0px -68px;
}
#logo form a:hover{
	background:url(../images/t0191850be6c5d0b20b.png) no-repeat 0px -34px;
}
/*logo区域结束*/
/*menu部分开始*/
#menu_out{
	width:100%;
	height:42px;
	background:#38A609;
}
#menu_out .menu{
	width:1200px;
	height:42px;
	margin:0 auto;
}
#menu_out .menu .left{
	float:left;
}
#menu_out .menu .left ul li {
    list-style: none;
    float: left;
}
#menu_out .menu .left ul li a{
        float: left;
        display:block;
        height:42px;
        width:94px;
        line-height: 42px;
        color:white;
        text-align: center;
}
#menu_out .menu .left ul li a.two{
	background:url(../images/t01482560ac74534980.png) no-repeat -13px -285px;
}
#menu_out .menu .left ul li a:hover{
	background:#279005;
}
#menu_out .menu .left ul li a.first{
       background:#279005;
       text-align: center;
}

/*menu右边部分*/
#menu_out .menu .right{
	float: right;
	line-height: 42px;
}
#menu_out .menu .right a{
	float: right;
	font-size: 12px;
	color:white;

}
#menu_out .menu .right a.shouji{
	margin:0px 27px;
	background:url(../images/t01482560ac74534980.png) no-repeat 0px -354px;
	padding-left:13px;
}
#menu_out .menu .right a.diannao{
	background:url(../images/t01482560ac74534980.png) no-repeat 0px -388px;
	padding-left:18px;
}
#menu_out .menu .right a.bangzhu{
	background:url(../images/t01482560ac74534980.png) no-repeat 0px -254px;
	padding-left:18px;
}
/*menu部分结束*/



















